.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  display: flex;
  width: 1920px;
  padding: 1em;
  flex-direction: column;
}

#header {
  display: flex;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid black;  
}