#inner-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#week-dropdown {
  overflow-y: scroll;
  height: 500px;
}

#driver-list, #week-list, #report-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

#report-button {
  width: 50%;  
  margin-right: 1em;
}